{:config-paths ^:replace []
 :lint-as {lread.status-line/line clojure.tools.logging/infof
           lread.status-line/die clojure.tools.logging/infof}
 :linters {:unsorted-required-namespaces {:level :warning}}}
